/* To live would be an awfully big adventure */


/* global or sitewide */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);


body{
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    color: black;
    line-height: 1.6;
    background: url("../img/bg-arrows.jpg");
    background-repeat: round;
    opacity: .95;
}


/* header */
img {
    border-radius: 3%;
    margin-top: .75em;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  margin-bottom: .5em;
}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    color: black;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#wrap {
  width: 87%;
  margin: 1em auto;
  padding: .5em 3%;
  background-color: #66CACC;
  border-radius: 3%;
  position: relative;
}


/* main nav */
nav li {
  list-style: none;
  display: inline-block;
}

nav a {
    border-radius: 3%;
}

nav a:link,
nav a:visited {
  background: #66CACC;
  text-decoration: none;
  padding: .75em;
  transition: all .75s;
}

nav a:hover,
nav a:active {
  margin-left: .5em;
  transition: all .75s;
}

/* quote */
blockquote {
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    text-align: center;
}
