/* To live would be an awfully big adventure */


/* global or sitewide */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

body{
    background: url("../img/bg-tile.jpg");
}




/* header */
header img {
    width: 100px;
}

/* main nav */
nav li {
  list-style: none;
  display: inline-block;
}

nav a:link,
nav a:visited {
  background: pink;
  text-decoration: none;
  padding: .5em;
  transition: all .75s;
}

nav a:hover,
nav a:active {
  background: violet;
  margin-left: .5em;
}

/* quote */
blockquote {
    color: whitesmoke;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 
        1px 1px 0 #71D094,
        2px 2px 0 #D185D6;
}
