/* To live would be an awfully big adventure */


/* global or sitewide */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background: url("../img/bg-arrows.jpg");
    background-repeat: round;
    opacity: .3;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}


/* header */
header img {
    width: 100px;
    opacity: 1;
}

#wrap {
  width: 87%;
  margin: 1em auto;
  padding: .5em 3%;
  background-color: #D185D6;
  border-radius: 3%;
  position: relative;
}

.inner {
  position: relative;
  z-index: 2;
}


/* main nav */
nav li {
  list-style: none;
  display: inline-block;
}

nav a:link,
nav a:visited {
  background: #71D094;
  text-decoration: none;
  padding: .5em;
  transition: all .75s;
}

nav a:hover,
nav a:active {
  background: #66CACC;
  margin-left: .5em;
}

/* quote */
blockquote {
    color: whitesmoke;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 
        1px 1px 0 #71D094,
        2px 2px 0 #D185D6;
}
