/* To live would be an awfully big adventure */


/* Global or Sitewide */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);


body{
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    color: black;
    line-height: 1.6;
    opacity: 1;
}


/* Header */
img {
    border-radius: 3%;
    margin-top: .75em;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

section h3 {
    color: black;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
    margin-top: 2em;
    text-align: center;
}

h4 {
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}

#wrap {
    width: 87%;
    margin: 1em auto;
    padding: .5em 3%;
    background-color: #66CACC;
    border-radius: 5%;
    position: relative;
}

h4.skills{
    text-align: center;
}

dt {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

/* Portfolio */
#p-wrap {
  width: 87%;
  margin: 1em auto;
  padding: .5em 3%;
  background-color: #71D094;
  border-radius: 1%;
  position: center;
  opacity: 95%;
}

figcaption {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

figcaption.title {
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    line-height: 1.6;
    padding-top: .5em;
    text-align: center;
}

figure figcaption:hover {
    animation: 3s 3s ease-in-out;
    margin: .5em auto;
}

figure figcaption.title:hover {
    animation: 3s 3s ease-in-out;
    margin: .5em auto;
}


/* Contact Page */
#c-wrap {
  width: 87%;
  margin: 1em auto;
  padding: .5em 3%;
  background-color: #D185D6;
  border-radius: 1%;
  position: center;
  opacity: 95%;
}

#legs {
  border-radius: 4%;
  margin-top: .75em;
  margin-bottom: 1.5em;
}

dt.location {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

h2.info {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}


/* RDW Nav */

/* Mobile */
@media screen and (min-width: 25em)  {
  
  body {
    background: ;
    transition: background .5s;
  }
  
  .tablet, .desktop {
    display: none;
  }
  
}

/* Tablet */
@media screen and (min-width: 37.5em)  {
  
  body {
    background: ;
    transition: background .5s;
  }
  
    .mobile, .desktop {
    display: none;
  }
  
  .tablet {
    display: block;
  }
  
}

/* Desktop */
@media screen and (min-width: 62.5em) {
  
  body {
    background: ;
    transition: background .5s;
  }
  
  .mobile, .tablet {
    display: none;
  }
  
  .desktop {
    display: block;
  }
  
}

/* Main Nav */
nav li {
    list-style: none;
    display: inline-block;
    margin-bottom: .5em;
}

nav a {
    border-radius: 3%;
}

nav a:link,
nav a:visited {
  background: #66CACC;
  text-decoration: none;
  padding: .75em;
  transition: all .75s;
}

nav a:hover,
nav a:active {
  margin-left: .5em;
  transition: all .75s;
}

/* Quote */
blockquote {
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
     text-align: center;
     text-shadow: 
}